In [6]:
import numpy as np
import pandas as pd

vals = np.arange(6) # ordered 0-indexed array
vals = np.reshape(vals, (2, 3)) # reshaped to a 2 x 3 array
print(vals)

[[0 1 2]
 [3 4 5]]

In [35]:
df1 = pd.DataFrame(data = vals, columns = ['A', 'B', 'C'])
# df1
morevals = np.array([10, 11, 12])
morevals = morevals.reshape((1, 3))
df2 = pd.DataFrame(data = morevals, columns = ['A', 'B', 'C'])
# df2
evenmorevals = np.arange(3)
evenmorevals = evenmorevals.reshape((3, 1))
df3 = pd.DataFrame(data = evenmorevals, columns = ['D'])
# df3
df4 = df1.append(df2)
df4['D'] = evenmorevals
df4['E'] = df4['A'] + df4['B'] + df4['C'] + df4['D']
df4['F'] = df4.sum(axis = 1)
df4['G'] = df4['A'] + df4['E']
df4['H'] = df4[['A', 'E']].sum(axis = 1)
df4

    A   B   C  D   E   F   G   H
0   0   1   2  0   3   6   3   3
1   3   4   5  1  13  26  16  16
0  10  11  12  2  35  70  45  45

In [71]:
df5 = df1.append(df2)
df6 = pd.DataFrame(data = np.array([-1, -2, -3]).reshape((1, 3)), index=['hello'], columns = ['A', 'B', 'C'])
df6 = df5.append(df6)
df6.loc['hello']

df7 = pd.DataFrame(data = np.random.rand(1, 3), index = ['hello2'], columns = ['A', 'B', 'C'])
df7 = df6.append(df7)
df6.iloc[0:3, 0:3]

    A   B   C
0   0   1   2
1   3   4   5
0  10  11  12